language: python
sudo: false
cache:
  pip: true
  directories:
  - eggs
  - downloads
python:
  - 2.7
matrix:
  fast_finish: true
services:
  - elasticsearch
install:
  - virtualenv .
  - bin/pip install -r requirements.txt
  - bin/pip install selenium==2.53.6
  - bin/buildout -N buildout:download-cache=downloads code-analysis:return-status-codes=True annotate
  - bin/buildout -N buildout:download-cache=downloads code-analysis:return-status-codes=True
script:
#  - bin/code-analysis
  - bin/test
after_success:
  - bin/createcoverage
  - pip install coveralls
  - coveralls
notifications:
  email:
    - jk@kleinundpartner.at
